@import url(fonts.css);

:root {
  --text: #fff;
  --body: rgba(0, 0, 0, 0.5);
  --main-color: #69CF17BF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body);
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

a {
  text-decoration: none;
}

.reklama {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0;
  background: #0C0C0C;
  color: var(--text);
  font-family: 'Roboto-Regular';
}

.rek__icon {
  display: flex;
}

.reklama__icon {
  margin-right: 5px;
  font-size: 20px;
}

.reklama__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.reklama__item {
  margin-right: 15px;
}

.reklama__link {
  color: var(--text);
  font-size: 18px;
  line-height: 24px;
}

.link {
  background: var(--main-color);
}

nav {
  background: #0C0C0C;
  border: 1px solid rgba(125, 115, 115, 0.5);
  /* overflow-y: scroll; */
}

.burgers__cards {
  padding-top: 15px;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--text);
  padding: 12px 18px;
}

.nav__logo__text {
  max-width: 216px;
  font-family: 'Roboto-Bold';
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
}


.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  line-height: 21px;
  color: var(--text);
  padding: 22px 14px;
}

.nav__link:hover {
  background: rgba(105, 207, 23, 0.75);
}

.header {
  background: url(../img/food-burger.jpg) no-repeat center / cover;
  min-height: 700px;
  display: flex;
  align-items: center;
}

.header__content {
  margin-bottom: 50px;
}

.header__title {
  font-family: 'Raleway-Black';
  color: var(--main-color);
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  margin-bottom: 18px;
}

.heder__title_2 {
  font-family: 'Raleway-Bold';
  color: var(--main-color);
  font-size: 36px;
  line-height: 17px;
  margin-bottom: 18px;
}

.header__text {
  font-family: 'Raleway-Thin';
  color: var(--text);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 63px;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn_1 {
  color: var(--text);
  padding: 33px 76px;
  /* background: rgba(105, 207, 23, 0.5);
  backdrop-filter: blur(18px); */
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 50%;
  text-align: right;
  font-family: 'Raleway-Thin';
}

.header__btn_1:hover {
  background: rgba(105, 207, 23, 0.5);
  backdrop-filter: blur(18px);
  /* background: #69CF1780; */
  background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
  box-shadow: 10px;
}

.header__btn_1:hover::before {
  content: '';
  width: 100%;
}

.header__btn_2 {
  color: var(--text);
  padding: 15px 70px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Raleway-Thin';
  transition: 0.5s;
}

.header__btn_2:hover {
  background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
  backdrop-filter: blur(18px);
  box-shadow: 10px;
}

.clr {
  background: #0C0C0C;
  width: 100%;
  padding: 35px 0;
}

.burgers {
  background: #393636;
}

.burgers__list {
  background: #292929;
  box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
  display: flex;
  align-items: center;
  padding: 25px 0;
  list-style: none;
}

.burgers__link {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  line-height: 24px;
  color: var(--text);
  padding: 22px 14px;
  position: relative;
  margin-left: 15px;
}

.burgers__link::before {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--text);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.burgers__link:hover::before {
  width: 100%;
}

.burgers__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-top: 15px;
}

.burgers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0C0C0C;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  max-width: 410px;
  min-height: 520px;
  padding: 15px 16px;
  margin-bottom: 30px;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 15px;
}

.before {
  position: relative;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 207, 23, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 65px;
  opacity: 0;
  transition: 0.5s;
}

.before:hover .hover {
  opacity: 1;
}

.burgers__title {
  font-family: 'Raleway-Regular';
  font-size: 19px;
  line-height: 15px;
  color: var(--text);
  padding: 15px 0;
  text-align: start;
}

.burgers__text {
  font-family: 'Regular-Black';
  font-size: 19px;
  line-height: 25px;
  color: var(--text);
  padding: 15px 0;
  text-align: justify;
}


.location__title {
  text-align: center;
  color: var(--main-color);
  text-decoration: uppercase;
  background: var(--text);
  padding: 20px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  font-family: 'Raleway-Bold';
}

.footer {
  overflow-y: scroll;
  background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--text);
  padding: 12px 18px;
  width: fit-content;
  font-family: 'Roboto-Bold';
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-bottom: 80px;
}

.footer__link {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  line-height: 21px;
  color: var(--text);
  text-align: center;
  margin-right: 15px;
}


.nomer {
  font-size: 20px;
  line-height: 23px;
  color: var(--text);
  font-family: 'Railway-Regular';
  display: block;
}


.menu {
  background: #0C0C0C;
}


.menu__img:hover {
  position: relative;
  display: flow-root;
  transition: 0.5s;
}

.menu__img:hover::before {
  content: 'STREET';
  position: absolute;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  color: rgba(105, 207, 23, 0.7);
  text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.menu__text {
  margin-top: 30px;
  font-family: 'Raleway-Thin';
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  color: var(--text);
}